#all {
margin: auto;
width: 900px;
}

body {
background-color: #999;
background-image: url(images/bodybg.jpg);
background-repeat: repeat-x;
}

#head {
width: 900px;
height: 200px;
border: 1px solid #fff;
background-image: url(images/panel1.jpg);
margin: auto;
color: #fff;
}

#head h1 {
font-size: 24px;
font-family: Arial, Sans-Serif;
color: #fff;
padding-left: 20px;
margin-top: 120px;
margin-bottom: 5px;
}

#head h2 {
font-size: 15px;
font-family: Arial, Sans-Serif;
color: #fff;
padding-left: 20px;
margin: 0;
}

.headlinks {
color: #fff;
font-family: Arial, Sans-Serif;
font-size: 12px;
float: right;
padding-right: 5px;
margin: 0;
}

.headlinks a {
color: #fff;
}

.headlinks a:hover {
text-decoration: none;
}

#navigation {
width: 900px;
background-image: url(images/navigation_bg.jpg);
background-repeat: repeat-x;
height: 35px;
float: left;
margin-top: 10px;
margin-left: auto;
margin-right: auto;
border-bottom: 1px solid #fff;
border-top: 1px solid #fff;
border-left: 1px solid #fff;
border-right: 1px solid #fff;
}

#navigation ul {
list-style-type: none;
float: left;
margin: 0;
padding: 0;
}

#navigation li {
width: 149px;
height: 35px;
margin: auto;
float: left;
text-align: center;
border-right: 1px solid #fff;
}

#navigation li a {
text-decoration: none;
color: #fff;
display: block;
width: 100%;
padding-top: 14px;
padding-bottom: 14px;
font-size: 13px;
float: left;
font-family: Arial, Sans-Serif;
background-repeat: no-repeat;
}

#navigation li a:hover {
background-image: url(images/button1.jpg);
background-repeat: no-repeat;
}

.endfloat {
float: none;
clear: both;
width: 1px;
margin: 0;
padding: 0;
font-size: 0px;
line-height: 0px;
height: 0px;
}

#content {
width: 900px;
margin: 0;
margin-top: 10px;
float: left;
border: 1px solid #fff;
background-image: url(images/content_bg.jpg);
background-color: #999;
background-repeat: repeat-x;
font-family: Arial, Sans-Serif;
font-size: 13px;
padding-bottom: 50px;
}

#leftnavigation {
float: left;
width: 140px;
padding: 0;
padding-left: 20px;
margin: 0;
margin-top: 10px;
}

#mainnavigation {
padding-top: 0;
font-family: Arial, Sans-Serif;
}

#mainnavigation a {
display: block;
background: url(images/mainnavigation_bg.jpg);
color: #fff;
padding-left: 18px;
padding-top: 5px;
padding-bottom: 5px;
padding-right: 10px;
text-decoration: none;
font-size: 12px;
width: 132px;
background-repeat: no-repeat;
border-left: 1px solid #000;
border-right: 1px solid #000;
border-top: 1px solid #ababab;
border-bottom: 1px solid #000;
}

#mainnavigation a:hover {
background-image: url(images/mainnavigation_bg_hover.jpg);
}

#mainnavigation h3 {
background: url(images/headline.jpg);
color: #fff;
padding: 7px;
padding-top: 5px;
padding-bottom: 5px;
text-decoration: none;
font-size: 12px;
width: 146px;
background-repeat: repeat-x;
margin: 0;
margin-top: 10px;
border: 1px solid #000;
}

#textcontent {
float: right;
text-align: justify;
font-family: Arial, Sans-Serif;
font-size: 12px;
padding-left: 0px;
padding-right: 0px;
width: 700px;
margin-top: 10px;
}

.text {
width: 700px;
}

.textbackground {
background-color: #f0f0f0;
color: #000;
padding: 7px;
padding-top: 5px;
padding-bottom: 5px;
margin: 0;
border: 1px solid #fff;
}

.text h4 {
background: url(images/headline.jpg);
color: #fff;
padding: 7px;
padding-top: 5px;
padding-bottom: 5px;
text-decoration: none;
font-size: 12px;
background-repeat: repeat-x;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 10px;
border-top: 1px solid #fff;
border-right: 1px solid #fff;
border-left: 1px solid #fff;
}

#footer {
width: 900px;
height: 60px;
float: left;
border: 1px solid #fff;
background-image: url(images/2.jpg);
background-repeat: no-repeat;
margin-left: auto;
margin-right: auto;
margin-top: 5px;
font-family: Arial, Sans-Serif;
font-size: 12px;
color: #fff;
text-align: center;
padding: 0;
}

#footer p {
margin-top: 30px;
}

#footer a {
color: #fff;
text-decoration: underline;
}

#footer a:hover {
text-decoration: none;
}